<% layout('layout/biolerplate.ejs') %> 

<div class="row mt-5">
    <div class="text-center">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%=err.message%>></h4>
            <p>
           <%=err.stack%>></p>
           <hr>
           <p class="mb-0">W</p>
         </div>    
    </div>
</div>
  

